- name: Create/patch Postgres Secret
  kubernetes.core.k8s:
    kubeconfig: /home/ansible/.kube/config 
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: pg-cred
        namespace: data
      type: Opaque
      stringData:
        username: "{{ pg_user }}"
        password: "{{ pg_pass }}"
  when: pg_pass != "" and pg_user != ""

- name: Create/patch Redis Secret
  kubernetes.core.k8s:
    kubeconfig: /home/ansible/.kube/config 
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: redis-pass
        namespace: data
      type: Opaque
      stringData:
        password: "{{ redis_pass }}"
  when: redis_pass != ""

- name: Create/patch backend Secret
  kubernetes.core.k8s:
    kubeconfig: /home/ansible/.kube/config 
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: backend-secret
        namespace: myapp
      type: Opaque
      stringData: "{{ backend_secret_extra }}"
  when: backend_secret_extra | length > 0
