apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-frontend
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "frontend.labels" . | nindent 4 }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 3000
