- name: Bootstrap all nodes
  hosts: all
  become: yes
  roles:
    - bootstrap
    - docker

- name: Install k3s server
  hosts: k3s_servers
  become: yes
  roles:
    - k3s_server

- name: Install k3s agents
  hosts: k3s_agents
  become: yes
  roles:
    - k3s_agent
  vars:
    k3s_agent_server: "https://{{ hostvars[groups['k3s_servers'][0]]['ansible_default_ipv4']['address'] }}:6443"
    k3s_agent_token: "{{ hostvars[groups['k3s_servers'][0]]['k3s_server_token'] }}"

